page-login-page {
    .avator{
        width:6em;
        height:6em;
        border-radius: 50%;
        overflow: hidden;
    }
    .forgetPwd{
        font-size:0.8em;
        a{
            text-decoration: none;
        }
        a:nth-child(2){
            float:right;
        }
       
    }
}
